/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;

}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}


form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;

}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}


form div {
  display: flex;
  justify-content: space-between;
}




/* -------  About  -------- */
#about {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#about div {
  width: 100%;
}

#about div p {
  align-self: center;

}

/* .img-about {
  margin-bottom: 20px;

} */

/* -------  Ideas  -------- */
#ideas {
  display: flex;
  flex-direction: column;
}

.ideas-img {
  width: 100%;

}

/* -------  Host  -------- */
#host {
  display: flex;
  flex-direction: column;
}

.host-img {
  margin-top: 15px;
  width: 100%;
}

main img {
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

/* hero font size broke x-small page layout */
@media all and (max-width: 270px) {
  h1 {
    font-size: 30px;
  }

}

@media all and (max-width:375px) {

  form div input {
    max-width: 50%;
  }

  form div select {
    max-width: 50%;
  }
}

/* desktop view */
@media all and (min-width:480px) {
  h1 {
    font-size: 25px;

  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .group {
    display: flex;
    flex-direction: row;
  }

  /* -------  Form ------- */
  form {
    display: flex;
    gap: 15px;
    flex-direction: row;

  }

  form div {
    /* border: red 4px solid; */
    flex-direction: column;
    width: 18%;
    flex: 1;
  }

  form div input,
  form div select {
    width: 100%;
  }

  form button {
    font-size: 20px;
    width: auto;
  }

  /* ------- About ------- */

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  #about div div {
    display: flex;
    width: 25%;
  }

  .paragraph {
    flex: 2;
  }

  /* ------- Ideas ------- */

  #ideas {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  #ideas div {
    width: 100%;
    object-fit: cover;
  }

  /* ------- Host ------- */
  #host {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  #host div {
    align-self: center;
  }

  #host img {
    width: 50%;
    object-fit: cover;
  }
}